aiohappyeyeballs==2.4.2
aiohttp==3.10.6
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.5.0
api==0.0.7
app==0.0.1
arrow==1.3.0
asttokens==2.4.1
attrs==24.2.0
backoff==2.2.1
binaryornot==0.4.4
blinker==1.8.2
botocore==1.35.28
canvas==0.2.5
certifi==2024.6.2
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cookiecutter==2.6.0
cron-converter==1.2.1
currencyapicom==0.1.1
decorator==5.1.1
distlib==0.3.9
encode==0.0.0
et-xmlfile==1.1.0
everapi==0.1.1
executing==2.1.0
fastapi==0.115.0
filelock==3.17.0
Flask==3.0.3
flask-marshmallow==1.2.1
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
fpdf==1.7.2
frozenlist==1.4.1
gql==3.5.0
graphql-core==3.2.4
greenlet==3.1.0
grpcio==1.66.1
gTTS==2.5.1
h11==0.8.1
h2==3.2.0
hpack==3.0.0
httpcore==1.0.5
httpx==0.27.2
hyperframe==5.2.0
idna==2.10
ipython==8.27.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.0.2
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==25.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.1.0
mysql-connector==2.2.9
mysqlclient==2.2.4
nose==1.3.7
numpy==2.1.1
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
parso==0.8.4
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
protobuf==4.25.5
psycopg2==2.9.9
pure_eval==0.2.3
pydantic==2.9.2
pydantic_core==2.23.4
Pygments==2.18.0
PyJWT==2.4.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
redis==5.0.8
referencing==0.35.1
reportlab==4.2.2
requests==2.32.3
requests-toolbelt==1.0.0
RestrictedPython==7.2
rfc3986==1.5.0
rich==13.8.1
rpds-py==0.20.0
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
stack-data==0.6.3
starlette==0.38.5
statsd==4.0.1
text-unidecode==1.3
traitlets==5.14.3
typer==0.12.5
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.2
virtualenv==20.29.1
wcwidth==0.2.13
websocket-client==1.8.0
websockets==11.0.3
Werkzeug==3.0.3
yarl==1.13.0
